SRC/AL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root_element">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AL">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resultado">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="line" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nome"/>
                          <xs:element type="xs:byte" name="vitorias"/>
                          <xs:element type="xs:byte" name="derrotas"/>
                          <xs:element type="xs:float" name="percentagem"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>